/* Parent Grid Container for Homepage */
.homepage-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: 100vh; /* Full viewport height */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Side Navigation: occupying first column, full height */
.side-nav {
    grid-area: 1 / 1 / 2 / 2; /* Spanning across column 1 */
    background-color: lightblue;
    padding-top: 20px;
    z-index: 1000;
    height: 100vh;
}

/* News Section: occupying columns 2 to 5, full height */
.news-content {
    grid-area: 1 / 2 / 2 / 6; /* Spanning across columns 2 to 5 */
    padding: 20px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}
